<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="TatilSepeti" connectionString="Server=IP\MSSQLSERVER2012;Database=TatilSepeti;MultipleActiveResultSets=true;Asynchronous Processing=True;User=tsUser;Password=*****;" providerName="System.Data.SqlClient" />

    <add name="CustomerApp.Models.My.MySettings.TatilSepetiConnectionString"
            connectionString="Data Source=IP\MSSQLSERVER2012;Initial Catalog=TatilSepeti;User ID=tsUser;Password=*****;Asynchronous Processing=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
</configuration>